.venv
Instructions.txt
build
threads_optim.py
*.DS_Store
*.npy
test.py
__pycache__
*.npz
*.sh
Test Folder
SYNTHETIC DATA/legacy/_archived_test_files/
*.json
output
Classes/__pycache__/TFM1D.cpython-313.pyc
DATA/2D TFM Data/.DS_Store
slices
*.md
